@font-face {
    font-family: 'Roboto';
    src: url(fonts/static/Roboto-Light.ttf);
    font-size: normal;
    font-style: normal;
}
:root{
    --azul_claro: #94D3FA;
    --azul_escuro: #4179FA;
    --azul_claro_vivo:#41B3FA;
    --azul_vivo: #219CF9;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--azul_claro);
    padding: 0;
    margin: 0;
    height: 100%;
}
.container{
    margin:0 auto;
    max-width: 1024px;
    padding:15px;
    background-color: #ffff;
    font-family: 'Roboto',sans-serif;
    
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav > #links{
    display: flex;
    gap:15px;
}
div#informacoes{
    border: 1px solid #b9b9b9 ;
    border-radius: 10px;
    padding: 10px;
}

/* Cursos */
#sectionCursos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
div#cursos{
    display: flex;
    gap: 120px;
}
#cursos p {
    text-align:center;
    font-weight:bold;   
    
}

#cursos img{
    border: 7px solid var(--azul_vivo  );
    border-radius: 10%;
    
}

footer {
    background-color: var(--azul_claro_vivo);
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.footer-content {
    max-width: 1024px;
    margin: auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.info-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* quebras de linha para telas menores */
    gap: 10px;
}

.info-box h3, .info-box p {
    width: 100%;
    
}

.redes_sociais, .contatos {
    flex: 1; /* divide o espaço igualmente */
    min-width: 200px;
}

.redes_sociais ul, .contatos ul {
    list-style-type: none;
    padding: 0;
}

.redes_sociais li, .contatos li {
    padding: 5px 0;
        
}
